

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
}

body{
	background: #000;
	
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Pinyon Script', cursive;
}
#wrapper{
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	
}

header{
	background: url("../images/burger.jpg") no-repeat center center/cover;
	padding: 200px 0;
}

#menusection{
	background: red;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 0;
	position: relative;
	background: url(../images/footer-food.png) no-repeat red 105% 120%;
	background-size: 150px 150px;

}

#logocontainer{
	width: 100px;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: -60px;
	left: 45%;

}

#logocontainer >img{
width: 100px;
}

.menulabel{
	background: url("../images/heading-bg.png") no-repeat center center/400px 70px;
	padding: 10px 0;
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 25px;

}

.menulabel >h2{
	text-align: center;

}

table{
	width: 90%;
	color: #fff;
	margin-right: auto;
	margin-left: auto;

}

tr{
height: 40px;
}
 
 #contacts{
 	background: url("../images/food-plate2.jpg") no-repeat center center/cover;
 	


 }

 .overlay >h2{
 		text-align: center;
 		color: #fff;
 		padding-top:20px;
 }
	
.overlay{
	background-color: rgba(0,0,0,0.8);
	
}

.overlay > .menulabel{
	margin-top:0;
}

form{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	
}

.formcontainer{
	margin-bottom: 20px;
}
	
.forminput{
	background: transparent;
	width: 100%;
	height: 50px;
	color:#fff;
	border:1px solid #fff;
	border-radius: 12px;
	padding: 10px;

}

.formcontainer >textarea{
	height: 180px;
}

.forminput >option{
	color: #000;
}

.forminput::placeholder{
	color: #fff;
}

.button{
	margin-bottom: 120px;
	background-color:#f9ed04;
	width: 100%;
	height: 50px;
	padding: 8px 12px;
	color:#000;
	border-style: none;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;


}

